<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Vault.Uri" value="http://172.16.80.1:8200/" />
    <add key="Vault.UnsealKey" value="18eb325038ba69e845ff40cc7f1715daad5e7d6b1d808fd4864d432c48e5284d" />
    <add key="Vault.Token" value="5f50764e-8c60-6634-176c-28f5d4264a46" />
    <add key="Vault.AppId" value="foo" />
    <add key="Vault.UserId" value="bar" />
    <add key="xunit.methodDisplay" value="method" />
  </appSettings>
</configuration>