<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Vault.Uri" value="http://localhost:8200/" />
    <add key="Vault.UnsealKey" value="1b741be51fbc7c44d713fa5bc59e443b5d29ec82719503a3bcba2dade301faaa" />
    <add key="Vault.Token" value="5670e985-0b2a-39de-5ab1-19e1f4d90093" />
    <add key="Vault.AppId" value="foo" />
    <add key="Vault.UserId" value="bar" />
    <add key="xunit.methodDisplay" value="method" />
  </appSettings>
</configuration>